<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAaxVtsiA4w8hkQbNsRUnUdtMBST3cFetA</string>
	<key>GCM_SENDER_ID</key>
	<string>557776662711</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yeon.PalworldYeon</string>
	<key>PROJECT_ID</key>
	<string>palworld-genie</string>
	<key>STORAGE_BUCKET</key>
	<string>palworld-genie.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:557776662711:ios:517e52f6c136f5a6169d32</string>
</dict>
</plist>